<script setup>
import { useAuthStore } from "../store/auth";
import { useRouter } from "vue-router";
import { ref } from "vue";

const { isAuthenticated, token } = useAuthStore();
const router = useRouter();

if (!isAuthenticated.value) {
  router.push({ name: "Login" });
}

// router.push({ name: "Product", params: { productId: 'TODO } });
let productName = ref("")
let productDescription = ref("")
let productCategory = ref("")
let productOriginalPrice = ref("")
let productPictureUrl = ref("")
let productEndDate = ref("")

  async function postProduct(){
    if(productName.value != null && productDescription.value != null && productCategory.value != null 
        && productOriginalPrice.value != null && productPictureUrl.value != null && productEndDate.value != null){
          
            const res = await fetch("http://localhost:3000/api/products/add", {
              method: "POST",
              header: {"content-type": "application/json"},
              body: JSON.stringify({
                name : productName.value,
                description: productDescription.value,
                category: productCategory.value,
                originalPrice: productOriginalPrice.value,
                pictureURL: productPictureUrl.value,
                endDate: productEndDate.value
              })
            })
            return await res.json();
    }
  }
</script>

<template>
  <h1 class="text-center">Ajouter un produit</h1>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form @submit.prevent>
        <div class="alert alert-danger mt-4" role="alert" data-test-error>
          Une erreur s'est produite
        </div>

        <div class="mb-3">
          <label for="product-name" class="form-label"> Nom du produit </label>
          <input v-model="productName"
            type="text"
            class="form-control"
            id="product-name"
            required
            data-test-product-name
          />
        </div>

        <div class="mb-3">
          <label for="product-description" class="form-label">
            Description
          </label>
          <textarea v-model="productDescription"
            class="form-control"
            id="product-description"
            name="description"
            rows="3"
            required
            data-test-product-description
          ></textarea>
        </div>

        <div class="mb-3">
          <label for="product-category" class="form-label"> Catégorie </label>
          <input v-model="productCategory"
            type="text"
            class="form-control"
            id="product-category"
            required
            data-test-product-category
          />
        </div>

        <div class="mb-3">
          <label for="product-original-price" class="form-label">
            Prix de départ
          </label>
          <div class="input-group">
            <input v-model="productOriginalPrice"
              type="number"
              class="form-control"
              id="product-original-price"
              name="originalPrice"
              step="1"
              min="0"
              required
              data-test-product-price
            />
            <span class="input-group-text">€</span>
          </div>
        </div>

        <div class="mb-3">
          <label for="product-picture-url" class="form-label">
            URL de l'image
          </label>
          <input v-model="productPictureUrl"
            type="url"
            class="form-control"
            id="product-picture-url"
            name="pictureUrl"
            required
            data-test-product-picture
          />
        </div>

        <div class="mb-3">
          <label for="product-end-date" class="form-label">
            Date de fin de l'enchère
          </label>
          <input v-model="productEndDate"
            type="date"
            class="form-control"
            id="product-end-date"
            name="endDate"
            required
            data-test-product-end-date
          />
        </div>

        <div class="d-grid gap-2">
          <button
            type="submit"
            class="btn btn-primary"
            
            data-test-submit
            @click="postProduct"
          >
            Ajouter le produit
            <span
              data-test-spinner
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
